.App {
  background-color: #282c34;
  height: 100vh;
  text-align: center;
  color: #4B371C;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

input[type="text"] {
  color: white;
  font-size: calc(10px + 2vmin);
  border: none;
  background-color: transparent;
}
